@import "tailwind.css";

:root {
  --color-red: #ee0000;
  --color-blue: #171c8f;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #696969;
}

body {
  font-family: "Cairo", sans-serif;
}

.myHeadTitle {
  padding-block: 20px;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    margin-top: 10px;
  }

  @media screen and (min-width: 992px) {
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
    }
  }
}

.myTitle {
  margin-bottom: 20px;
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    margin-top: 10px;
  }

  @media screen and (min-width: 992px) {
    h2 {
      font-size: 32px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
    }
  }
}
